<style type="text/css">
div .list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div > input {
    width: 45px;
}

#datepicker {
    width: 100%;
}
textarea {
    width: 90%;
}
</style>
<form name="editForm" ng-submit="editNode(editForm, $event)">
    <div class="details panel panel-info">
        <div class="panel-heading">
            <input type="text" ng-model="node.name" class="form-control"/>
        </div>
        <div class="panel-body">
            <div class="properties edit">
                
                    <div class="list goal" >
                        <div class="label-1"><h5>%Contribution to Goal:</h5></div>
                        <div class="content"><input type="number" placeholder="0.00" step=".01" ng-model = "node.goal"/><span>%</span></div>
                    </div>
                    <div class="list time" >
                        <div class="label-2"><h5>Time Allocated: </h5></div>
                        <div class="content"><input type="number" ng-model = "node.duration"/><span>days</span></div>
                    </div>
                    <div class="list confidence" >
                        <div class="label-3"><h5>Project Confidence: </h5></div>
                        <div class="content"><input type="text" ng-model = "node.confidence"/><span>%</span></div>
                    </div>
                    <div class="list measurement" >
                        <div class="label-4"><h5>Measurement: </h5></div>
                        <div class="content"><textarea maxlength="250" ng-model = "node.measurement"></textarea></div>
                    </div>
                    <div class="list acceptable" >
                        <div class="label-5"></dir><h5>Results-Acceptable: </h5></div>
                        <div class="content"><input type="number" placeholder="0.00" step=".01" ng-model = "node.acceptable"/></div>
                    </div>
                    <div class="list current" >
                        <div class="label-6"><h5>Results-Current: </h5></div>
                        <div class="content"><input type="number" placeholder="0.00" step=".01" ng-model = "node.current"/></div>
                    </div>
                    <div class="list fail" >
                        <div class="label-7"><h5>Results-Fail: </h5></div>
                        <div class="content"><input type="number" placeholder="0.00" step=".01" ng-model = "node.fail"/></div>
                    </div>
                    <div class="list target" >
                        <div class="label-8"><h5>Results-Target: </h5></div>
                        <div class="content"><input type="number" placeholder="0.00" step=".01" ng-model = "node.target"/></div>
                    </div>
                    <div class="list date" >
                        <div class="label-9"><h5>Due Date: </h5></div>
                        <div class="content"><input type="date" id="datepicker" ng-model="node.duedate"/></div>
                    </div>
                
                
                <h5>Depends on <span class="glyphicon glyphicon-plus" ng-click="addDependency()"></span></h5>
                <ul>
                    <li ng-repeat="dependencies in node.dependsOn track by $index">
                        <input type="text" ng-model="node.dependsOn[$index]" init-focus /> <span class="remove glyphicon glyphicon-remove" ng-click="deleteDependency($index)"></span>
                    </li>
                </ul>
                <h5>Accountable Person: <span class="glyphicon glyphicon-plus" ng-click="addHostCategory()"></span></h5>
                <ul>
                    <li ng-repeat="(key, host) in node.host track by $index">
                        <input type="text" ng-model="hostKeys[key]" init-focus /><span class="glyphicon glyphicon-plus" ng-click="addHost(key)"></span>
                        <span class="remove glyphicon glyphicon-remove" ng-click="deleteHostCategory(key)"></span>

                        <ul>
                            <li ng-repeat="test in node.host[key] track by $index">
                                <span class="remove glyphicon glyphicon-remove" ng-click="deleteHost(key, $index)"></span>
                                <input type="text" ng-model="node.host[key][$index]" init-focus />
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="url">
                <h5>Information Sources</h5>
                <input type="text" ng-model="node.url" class="form-control" init-focus />
            </div>

            <div class="comments">
                <h5>Other Notes</h5>
                <textarea ng-model="node.comments" class="form-control" init-focus></textarea>
            </div>
        </div>
        <div class="panel-action">
            <button type="button" ng-click="addNode()" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> Add</button>
            <button type="button" ng-click="moveNode()" class="btn btn-default"><span class="glyphicon glyphicon-share-alt"></span> Move</button>
            <button type="button" ng-click="deleteNode()" class="btn btn-warning"><span class="glyphicon glyphicon-trash"></span> Delete</button>
        </div>
        <div class="panel-action">
            <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-ok"></span> Save</button>
            <button type="button" ng-click="leaveEdit()" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span> Cancel</button>
        </div>
    </div>
</form>