<div class="details panel panel-info">
    <div class="panel-heading">{{ node.name }}</div>
    <div class="panel-body">
        <div class="url" ng-if="node.url">
            <a href="{{ node.url }}">{{ node.url }}</a>
        </div>

        <div class="comments panel panel-default" ng-if="node.comments">
            <div class="panel-body">{{ node.comments }}</div>
        </div>

        <div class="properties" ng-if="node.details.Dependencies">
            <h5>Depends on</h5>
            <ul>
                <li ng-repeat="dependency in node.details.Dependencies">
                    {{ dependency }}
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.details.Dependents">
            <h5>Dependendents</h5>
            <ul>
                <li ng-repeat="dependent in node.details.Dependents">
                    {{ dependent }}
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.details.Technos">
            <h5>Technos</h5>
            <ul>
                <li ng-repeat="techno in node.details.Technos">
                    {{ techno }}
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.details.Host">
            <h5>Hosts</h5>
            <ul>
                <li ng-repeat="(hostName, servers) in node.host">
                    {{ hostName }}
                    <ul ng-if="servers">
                        <li ng-repeat="server in servers">{{ server }}</li>
                    </ul>
                    <span ng-if="detail.via">({{ detail.via }})</span>
                </li>
            </ul>
        </div>

        <div class="properties" ng-if="node.goal">
            <h5>%Contribution to Goal</h5>
            <ul>
                <li>{{ node.goal }} %</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.duration">
            <h5>Time Allocated</h5>
            <ul>
                <li>{{ node.duration }} days</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.confidence">
            <h5>Project Confidence</h5>
            <ul>
                <li>{{ node.confidence }} %</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.measurement">
            <h5>Measurement</h5>
            <ul>
                <li>{{ node.measurement }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.acceptable">
            <h5>Results-Acceptable</h5>
            <ul>
                <li>{{ node.acceptable }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.current">
            <h5>Results-Current</h5>
            <ul>
                <li>{{ node.current }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.fail">
            <h5>Results-Fail</h5>
            <ul>
                <li>{{ node.fail }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.target">
            <h5>Results-Target</h5>
            <ul>
                <li>{{ node.target }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.duedate">
            <h5>Due Date</h5>
            <ul>
                <li>{{ node.duedate }}</li>
            </ul>
        </div>

        <div class="properties" ng-if="node.url">
            <h5>Information Sources</h5>
            <ul>
                <li>{{ node.url }}</li>
            </ul>
        </div>

    </div>
</div>
